
<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>LOGIN EXITOSO!</h1>
        <h2 class="mx-5 my-2">Datos del perfil</h2>
        Bienvenido {{username}}
        <h2><i>Bienvenido {{datos.name}}</i></h2>
        <br>
        <h3>Email: {{datos.email}}</h3>
        <h3>Email: {{email}}</h3>

        <button class="btn btn-danger my-5" onclick="location.href='/api/auth/logout'">LOGOUT</button>
    </div>
</div>

{{>productos}}
{{!-- {contador, datos: {nombre, direccion}} --}}

