<form id="productForm" method="post">
    <label>nombre</label>
    <input class="form-control" type="text" name="title" id="title"/>
    <label>precio</label>
    <input class="form-control" type="number" name="price" id="price"/>
    <label>url</label>
    <input class="form-control" type="url" name="thumbnail" id="thumbnail"/>
    <button type="submit" class="btn btn-info my-3">Agregar</button>
</form>

<div>
    {{#if productos}}
    <h2>Productos</h2>
        <table>
            <thead>
                <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img width="70" src={{this.thumbnail}}/></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div>
            <p>No hay productos</p>
        </div>
    {{/if}}
</div>